<h1>Entry Show</h1>
<%= entry.get("title") %>
<%= entry.get("url") %>
<%= entry.get("guid") %>
<%= entry.get("published_at") %>
<%= entry.get("json") %>
<%= entry.get("feed_id") %>
<br>


<a href="#/feeds/<%= entry.get("feed_id") %>">Back</a>
